/* line 4, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
html, body { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

/* line 12, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, code, del, dfn, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

/* line 16, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
blockquote, q { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; quotes: "" ""; }
/* line 42, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
blockquote:before, q:before, blockquote:after, q:after { content: ""; }

/* line 18, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
th, td, caption { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; text-align: left; font-weight: normal; vertical-align: middle; }

/* line 20, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
table { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; border-collapse: separate; border-spacing: 0; vertical-align: middle; }

/* line 22, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
a img { border: none; }

/* line 21, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body { line-height: 1.5; font-family: Helvetica Neue, Arial, Helvetica, sans-serif; color: #333333; font-size: 75%; }

/* line 52, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h1 { font-weight: normal; color: #222222; font-size: 3em; line-height: 1; margin-bottom: 0.5em; }
/* line 57, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h1 img { margin: 0; }

/* line 59, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h2 { font-weight: normal; color: #222222; font-size: 2em; margin-bottom: 0.75em; }

/* line 63, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h3 { font-weight: normal; color: #222222; font-size: 1.5em; line-height: 1; margin-bottom: 1em; }

/* line 68, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h4 { font-weight: normal; color: #222222; font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }

/* line 73, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h5 { font-weight: normal; color: #222222; font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }

/* line 78, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h6 { font-weight: normal; color: #222222; font-size: 1em; font-weight: bold; }

/* line 82, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h2 img, h3 img, h4 img, h5 img, h6 img { margin: 0; }

/* line 84, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
p { margin: 0 0 1.5em; }
/* line 86, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
p img.left { display: inline; float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
/* line 90, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
p img.right { display: inline; float: right; margin: 1.5em 0 1.5em 1.5em; padding: 0; }

/* line 94, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
a { text-decoration: underline; color: #000099; }
/* line 12, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
a:visited { color: #000066; }
/* line 15, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
a:focus { color: black; }
/* line 18, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
a:hover { color: black; }
/* line 21, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
a:active { color: #cc0099; }

/* line 97, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
blockquote { margin: 1.5em; color: #666; font-style: italic; }

/* line 101, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
strong { font-weight: bold; }

/* line 103, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
em { font-style: italic; }

/* line 105, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
dfn { font-style: italic; font-weight: bold; }

/* line 108, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
sup, sub { line-height: 0; }

/* line 110, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
abbr, acronym { border-bottom: 1px dotted #666; }

/* line 112, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
address { margin: 0 0 1.5em; font-style: italic; }

/* line 115, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
del { color: #666; }

/* line 117, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
pre { margin: 1.5em 0; white-space: pre; }

/* line 120, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
pre, code, tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; }

/* line 122, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
li ul, li ol { margin: 0 1.5em; }

/* line 124, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
ul { margin: 0 1.5em 1.5em 1.5em; list-style-type: disc; }

/* line 127, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
ol { margin: 0 1.5em 1.5em 1.5em; list-style-type: decimal; }

/* line 130, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
dl { margin: 0 0 1.5em 0; }
/* line 132, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
dl dt { font-weight: bold; }

/* line 134, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
dd { margin-left: 1.5em; }

/* line 136, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
table { margin-bottom: 1.4em; width: 100%; }

/* line 139, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
th { font-weight: bold; }

/* line 141, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
thead th { background: #c3d9ff; }

/* line 143, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
th, td, caption { padding: 4px 10px 4px 5px; }

/* line 145, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
tr.even td { background: #e5ecf9; }

/* line 147, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
tfoot { font-style: italic; }

/* line 149, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
caption { background: #eee; }

/* line 151, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
.quiet { color: #666666; }

/* line 153, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
.loud { color: #111111; }

/* line 7, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_debug.sass */
.showgrid { background: url(/images/grid.png); }

/* line 18, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
body { margin: 1.5em 0; }

/* line 35, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
.box { padding: 1.5em; margin-bottom: 1.5em; background: #E5ECF9; }

/* line 38, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
div.border { padding-right: 4px; margin-right: 5px; border-right: 1px solid #eee; }

/* line 41, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
div.colborder { padding-right: 24px; margin-right: 25px; border-right: 1px solid #eee; }

/* line 43, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
hr { background: #ddd; color: #ddd; clear: both; float: none; width: 100%; height: .1em; margin: 0 0 1.45em; border: none; }

/* line 45, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
hr.space { background: #ddd; color: #ddd; clear: both; float: none; width: 100%; height: .1em; margin: 0 0 1.45em; border: none; background: #fff; color: #fff; }

/* line 22, ../../../app/stylesheets/screen.sass */
.tab { border-left: 1px solid #DDD; padding-left: 10px; margin-top: 20px; }

/* line 25, ../../../app/stylesheets/screen.sass */
body { margin: 0px; padding: 0px; min-width: 950px; font-family: "Trebuchet MS"; }

/* line 31, ../../../app/stylesheets/screen.sass */
div { text-align: left; }

/* line 34, ../../../app/stylesheets/screen.sass */
#branding_background, #copyright_background { display: block; clear: both; width: 100%; }

/* line 39, ../../../app/stylesheets/screen.sass */
#branding-container { width: 950px; margin: 0 auto; overflow: hidden; display: inline-block; overflow: visible; }
/* line 5, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
#branding-container { display: block; }

/* line 43, ../../../app/stylesheets/screen.sass */
.on a, #header #menu a:hover { height: 80px; display: block; text-decoration: none; background: url("/images/buttons/btn.menu.png") bottom center no-repeat transparent; }

/* line 49, ../../../app/stylesheets/screen.sass */
#header #menu a:hover { filter: alpha(opacity=!arg*100); opacity: 0.5; -moz-opacity: 0.5; }

/* line 52, ../../../app/stylesheets/screen.sass */
#header { position: relative; display: inline; float: left; margin-right: 10px; width: 950px; }
/* line 97, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html #header { overflow-x: hidden; }
/* line 55, ../../../app/stylesheets/screen.sass */
#header #menu { margin: 0; padding: 0; border: 0; overflow: hidden; display: inline-block; position: absolute; top: 1em; right: 0px; margin-top: 1em; }
/* line 5, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
#header #menu { display: block; }
/* line 10, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
#header #menu li { list-style-type: none; margin-left: 0px; white-space: nowrap; display: inline; float: left; padding-left: 4px; padding-right: 4px; }
/* line 17, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
#header #menu li.first { padding-left: 0px; }
/* line 19, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
#header #menu li.last { padding-right: 0px; }
/* line 61, ../../../app/stylesheets/screen.sass */
#header #menu li { border-left: 1px solid #DDDDDD; line-height: 80px; height: 80px; font-size: 1.5em; font-weight: bold; color: #000; padding-left: 5px; }
/* line 69, ../../../app/stylesheets/screen.sass */
#header #menu li a { color: #000; }
/* line 71, ../../../app/stylesheets/screen.sass */
#header #menu li img { position: relative; top: 10px; }
/* line 74, ../../../app/stylesheets/screen.sass */
#header h1 { text-indent: -9999em; overflow: hidden; background-image: url(/images/logos/logo.smile-effect.midi.png); background-repeat: no-repeat; background-position: 50% 50%; width: 355px; height: 100px; }
/* line 78, ../../../app/stylesheets/screen.sass */
#header a { text-decoration: none; }
/* line 4, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/compass/stylesheets/compass/utilities/links/_hover_link.sass */
#header a:hover { text-decoration: underline; }

/* line 81, ../../../app/stylesheets/screen.sass */
#teaser { display: inline; float: left; margin-right: 10px; width: 950px; position: relative; }
/* line 97, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html #teaser { overflow-x: hidden; }
/* line 84, ../../../app/stylesheets/screen.sass */
#teaser a:hover { filter: alpha(opacity=!arg*100); opacity: 0.9; -moz-opacity: 0.9; }
/* line 86, ../../../app/stylesheets/screen.sass */
#teaser a:hover img { padding: 2px; width: 315px; height: 295px; }
/* line 91, ../../../app/stylesheets/screen.sass */
#teaser #teaser_img { display: inline; float: left; margin-right: 0; width: 630px; }
/* line 97, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html #teaser #teaser_img { overflow-x: hidden; }
/* line 94, ../../../app/stylesheets/screen.sass */
#teaser #teaserleft { display: inline; float: left; margin-right: 10px; width: 310px; }
/* line 97, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html #teaser #teaserleft { overflow-x: hidden; }
/* line 98, ../../../app/stylesheets/screen.sass */
#teaser #teasercenter { display: inline; float: left; margin-right: 10px; width: 310px; }
/* line 97, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html #teaser #teasercenter { overflow-x: hidden; }
/* line 102, ../../../app/stylesheets/screen.sass */
#teaser #teaserright { display: inline; float: left; margin-right: 0; width: 310px; }
/* line 97, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html #teaser #teaserright { overflow-x: hidden; }
/* line 104, ../../../app/stylesheets/screen.sass */
#teaser #teaser_img { position: relative; }

/* line 107, ../../../app/stylesheets/screen.sass */
#content { display: inline; float: left; margin-right: 10px; width: 950px; font-size: 1.2em; }
/* line 97, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html #content { overflow-x: hidden; }
/* line 110, ../../../app/stylesheets/screen.sass */
#content h1 { font-weight: bold; font-size: 3em; }
/* line 113, ../../../app/stylesheets/screen.sass */
#content h3 { font-weight: normal; font-size: 1.8em; color: #A6A6A6; }

/* line 118, ../../../app/stylesheets/screen.sass */
#contentleft { display: inline; float: left; margin-right: 10px; width: 310px; }
/* line 97, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html #contentleft { overflow-x: hidden; }

/* line 123, ../../../app/stylesheets/screen.sass */
#contentcenter { display: inline; float: left; margin-right: 10px; width: 310px; }
/* line 97, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html #contentcenter { overflow-x: hidden; }

/* line 127, ../../../app/stylesheets/screen.sass */
#contentright { display: inline; float: left; margin-right: 0; width: 310px; }
/* line 97, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html #contentright { overflow-x: hidden; }

/* line 131, ../../../app/stylesheets/screen.sass */
#footer { display: inline; float: left; margin-right: 10px; width: 950px; font-size: 1em; border-top: 1px solid #DDDDDD; padding-top: 20px; }
/* line 97, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html #footer { overflow-x: hidden; }

/* line 136, ../../../app/stylesheets/screen.sass */
#footercontentleft { display: inline; float: left; margin-right: 10px; width: 310px; position: relative; }
/* line 97, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html #footercontentleft { overflow-x: hidden; }

/* line 140, ../../../app/stylesheets/screen.sass */
#footercontentcenter { display: inline; float: left; margin-right: 10px; width: 310px; position: relative; }
/* line 97, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html #footercontentcenter { overflow-x: hidden; }

/* line 145, ../../../app/stylesheets/screen.sass */
#footercontentright { display: inline; float: left; margin-right: 0; width: 310px; position: relative; }
/* line 97, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html #footercontentright { overflow-x: hidden; }

/* line 149, ../../../app/stylesheets/screen.sass */
#copyright_background { border-top: 1px solid #DDDDDD; background-color: #000000; color: #FFF; height: 60px; }
/* line 154, ../../../app/stylesheets/screen.sass */
#copyright_background a { color: #FFF; }

/* line 156, ../../../app/stylesheets/screen.sass */
#copyright { display: inline; float: left; margin-right: 10px; width: 950px; font-size: 1em; padding-top: 20px; }
/* line 97, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html #copyright { overflow-x: hidden; }

/* line 160, ../../../app/stylesheets/screen.sass */
#copyright_a { display: inline; float: left; margin-right: 10px; width: 110px; }
/* line 97, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html #copyright_a { overflow-x: hidden; }

/* line 162, ../../../app/stylesheets/screen.sass */
#copyright_b { display: inline; float: left; margin-right: 10px; width: 350px; }
/* line 97, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html #copyright_b { overflow-x: hidden; }

/* line 164, ../../../app/stylesheets/screen.sass */
#copyright_c { display: inline; float: left; margin-right: 10px; width: 350px; }
/* line 97, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html #copyright_c { overflow-x: hidden; }

/* line 166, ../../../app/stylesheets/screen.sass */
#copyright_d { display: inline; float: left; margin-right: 0; width: 110px; }
/* line 97, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.6.4/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html #copyright_d { overflow-x: hidden; }

/* line 168, ../../../app/stylesheets/screen.sass */
.img_spacer { float: left; }

/* line 172, ../../../app/stylesheets/screen.sass */
.theme_marketing h1 { color: #D16414; }

/* line 175, ../../../app/stylesheets/screen.sass */
.theme_web h1 { color: #3ABD1C; }

/* line 178, ../../../app/stylesheets/screen.sass */
.theme_design h1 { color: #12A8D3; }
